* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

label {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  position: relative;
  font-family: "Josefin Sans", sans-serif;
}

p {
  margin-top: 3px;
  flex: 1;
}

.background-img {
  height: 300px;
  background-image: url(../assets/header-img-light.png),
    linear-gradient(225deg, #5596ff 0%, #ac2deb 100%);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.container {
  position: absolute;
  left: 50%;
  top: 70px;
  transform: translateX(-50%);

  max-width: 700px;
  width: 100%;
}

/* HEADER */
.header__title-mode {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto 0;
}

.header__title {
  color: #fff;
  font-size: 40px;
  letter-spacing: 15px;
}

.header__mode path {
  width: 25.113px;
  height: 26px;
  fill: #fff;
}

/* CREATE NEW TODO */
.new-todo {
  margin-top: 48px;
  margin-bottom: 24px;
  padding: 20px 24px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 35px 50px -15px rgba(194, 195, 214, 0.5);

  display: flex;
  gap: 24px;
}

.new-todo__circle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.new-todo__input {
  border: none;
  flex: 1;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: -0.25px;
  color: #393a4b;
}

.new-todo__input::placeholder {
  color: #9495a5;
  font-family: "Josefin Sans", sans-serif;
}

/* TODO LIST */
.todo-list {
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 35px 50px -15px rgba(194, 195, 214, 0.5);

  display: flex;
  flex-direction: column;
}

.checkbox__input + span {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: solid 1px #e3e4f1;

  display: inline-flex;
  cursor: pointer;
}

.checkbox__input:checked + span {
  background-image: url(../assets/checked.png);
  background-size: cover;
}

.checkbox__input:not(:checked) + span:hover {
  border: solid 1px #3a7cfd;
}

.checkbox__input {
  display: none;
}

.todo-list__item {
  color: #494c6b;
  letter-spacing: -0.25px;
  font-weight: 400;
  font-size: 18px;
  border-bottom: solid 1px #e3e4f1;
  padding: 20px 24px;

  display: flex;
  gap: 24px;
}

.todo-list__item:hover {
  cursor: pointer;
}

.todo-list__item:hover .todo-list__item__delete {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list__item--checked {
  color: #d1d2da;
  text-decoration: line-through;
}

.todo-list__item__delete {
  display: none;
}

/*FILTER*/
.filter {
  display: flex;
  justify-content: space-between;
  padding: 16px 24px 20px;
  color: #9495a5;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.194px;
}

.filter__status {
  font-weight: 700;
  display: flex;
  gap: 19px;
}

.filter__status--responsive {
  display: none;
}

.filter__status--active {
  color: #3a7cfd;
}

.filter__status span:hover,
.filter__completed:hover {
  color: #494c6b;
  cursor: pointer;
}

/*FOOTER*/
.footer {
  padding-top: 48px;
  display: block;
  text-align: center;
  color: #9495a5;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.194px;
}

/*RESPONSIVE*/

@media (max-width: 780px) {
  .container {
    max-width: 400px;
    width: 100%;
  }

  .header__title {
    font-size: 30px;
    letter-spacing: 13px;
  }

  .header__mode svg {
    width: 26.317px;
    height: 27px;
  }

  .new-todo__input {
    color: #9495a5;
    font-size: 14px;
    letter-spacing: -0.167px;
  }

  .new-todo {
    margin-top: 40px;
    margin-bottom: 16px;
    padding: 14px 20px;
    gap: 14px;
  }

  .new-todo__circle {
    width: 20px;
    height: 20px;
  }

  .todo-list__item {
    letter-spacing: -0.167px;
    font-size: 14px;
    padding: 16px 20px;
    gap: 14px;
  }

  .checkbox__input + span {
    width: 20px;
    height: 20px;
  }

  .todo-list__item__delete svg {
    width: 12px;
    height: 12px;
  }

  .filter {
    font-size: 13px;
    letter-spacing: -0.167px;
    padding: 16px 20px 20px;
  }

  .filter__status {
    display: none;
  }

  .filter__status--responsive {
    display: flex;
    justify-content: center;
    gap: 19px;

    margin-top: 16px;
    padding: 16px 0px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 700;
    color: #9495a5;
    letter-spacing: -0.194px;
    background: #fff;
    box-shadow: 0px 35px 50px -15px rgba(194, 195, 214, 0.5);
  }

  .filter__status--responsive span:hover {
    color: #494c6b;
    cursor: pointer;
  }

  .footer {
    padding-top: 40px;
  }
}
